<html>
    <head>
        <title>camera</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
        
                    
                    <h2 class="mt-5">CAMERA</h2>
                    <form method="post" action="{{ url_for('tasks') }}">
                    <input type="submit" value="Stop/Start" name="stop" />
                    
                    </form>
                    <img src="{{ url_for('video_feed') }}" height="80%">
                    <h3 style="font-family:courier;">Instructions:</h3>
                    <ol style="font-family:courier;">
                    
                    
                    
                </div>
            </div>
        </div>
    </body>
</html>