<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/CSS/learn.css">
 
   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <title>Learning</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #4B05B7">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              
            </li>
            <li class="nav-item">
              
            </li>
            
              <li class="nav-item">
                
              </li>
              <li class="nav-item dropdown">
               
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   
                </div>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
            
            </li>
            </ul>
            <div class="mx-2">
              
            </div>
          </form>
        </div>
      </nav>
      
   <div class="row no-gutters">
    <div class="col-md-2" id="nm1">
      <div class="pp" id="bn">
        <div class="b"  data-radio="radio_55">
                
          <button type="button" class="btn btn-lg btn-block  "style=" background-color: #A68DDB; font-size: 1rem; width: 90%;">A to Z</button>
                
        </div>
        <div class="b"  data-radio="radio_66" >
                
          <button type="button" class="btn btn-lg btn-block "style=" background-color: #A68DDB; font-size: 1rem; width:90%">1 to 9</button>
                
        </div>
      </div>
    </div>
       <div class="col-md-5" id="mn">
       
       
           <div class="lefts radio_78">
            <div class="lol">
           
          
               
            <div class="pruthvi">
              <div class="radio_content radio_55">
               <div class="butt">
                 <div class="bt"  data-radio="radio_1">
                  
            <button type="button" class="btn btn-lg btn-block "style=" background-color: #A68DDB; height: 80px;">A</button>
                  
          </div>
          <div class="bt" data-radio="radio_2">
            <button type="button" class="btn  btn-lg  btn-block"style=" background-color: #A68DDB; height: 80px;">B</button>
          </div>
          <div class="bt" data-radio="radio_3">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">C</button>
          </div>
          <div class="bt" data-radio="radio_4">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">D</button>
          </div>
          <div class="bt" data-radio="radio_5">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">E</button>
          </div>
          <div class="bt" data-radio="radio_6">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">F</button>
          </div>
          <div class="bt" data-radio="radio_7">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">G</button>
          </div>
          <div class="bt" data-radio="radio_8">
            <button type="button" class="btn btn-lg  btn-block"style=" background-color: #A68DDB; height: 80px;">H</button>
          </div>
          <div class="bt" data-radio="radio_9">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">I</button>
          </div>
          <div class="bt" data-radio="radio_10">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">J</button>
          </div>
          <div class="bt" data-radio="radio_11">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">K</button>
          </div>
          <div class="bt" data-radio="radio_12">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">L</button>
          </div>
          <div class="bt" data-radio="radio_13">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">M</button>
          </div>
          <div class="bt" data-radio="radio_14">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">N</button>
          </div>
          <div class="bt" data-radio="radio_15">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">O</button>
          </div>
          <div class="bt" data-radio="radio_16">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">P</button>
          </div>
          <div class="bt" data-radio="radio_17">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">Q</button>
          </div>
          <div class="bt" data-radio="radio_18">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">R</button>
          </div>
          <div class="bt" data-radio="radio_19">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">S</button>
          </div>
          <div class="bt" data-radio="radio_20">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">T</button>
          </div>
          <div class="bt" data-radio="radio_21">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">U</button>
          </div>
          <div class="bt" data-radio="radio_22">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">V</button>
          </div>
          
          <div class="bt" data-radio="radio_23">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">W</button>
          </div>
          <div class="bt" data-radio="radio_24">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">X</button>
          </div>
          <div class="bt" data-radio="radio_25">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">Y</button>
          </div>
          <div class="bt"  data-radio="radio_26">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">Z</button>
          </div>
         </div>
         </div>
         </div>
         
          
        
         <div class="pruthvi">
          <div class="radio_content radio_66">
        <div class="num">
          <div class="bt"  data-radio="radio_27">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">0</button>
          </div>
          <div class="bt"  data-radio="radio_28">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">1</button>
          </div>
          <div class="bt"  data-radio="radio_29">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">2</button>
          </div>
          <div class="bt"  data-radio="radio_30">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">3</button>
          </div>
          <div class="bt" data-radio="radio_31">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">4</button>
          </div>
          <div class="bt"  data-radio="radio_32">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">5</button>
          </div>
          <div class="bt"  data-radio="radio_33">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">6</button>
          </div>
          <div class="bt"  data-radio="radio_34">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">7</button>
          </div>
          <div class="bt"  data-radio="radio_35">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">8</button>
          </div>
          <div class="bt"  data-radio="radio_36">
            <button type="button" class="btn  btn-lg btn-block"style=" background-color: #A68DDB; height: 80px;">9</button>
          </div>

        </div>
      </div>
        
</div>
</div>
</div>
      

       </div>
       <div class="col-md-5">
           <div class="rights">
            <div class="radio_content radio_1">
             <div class="im">
              <img src="../../static/Images/a_learning.png" alt="">
             

             </div>
            </div>
            <div class="radio_content radio_2">
              
              <div class="im">
                <img src="../../static/Images/b_learning.png" alt="">
           
              </div>
            </div>
            <div class="radio_content radio_3">
              <div class="im">
                <img src="../../static/Images/c_learning.png" alt="">
            
             </div>
            </div>
            <div class="radio_content radio_4">
              
              <div class="im">
                <img src="../../static/Images/d_learning.png" alt="">
                
              </div>
            </div>
            <div class="radio_content radio_5">

              
              <div class="im">
                <img src="../../static/Images/e_learning.png" alt="">
                
              </div>
            </div>
            <div class="radio_content radio_6">
              
              <div class="im">
                <img src="../../static/Images/f_learning.png" alt="">
               
              </div>
            </div>
            <div class="radio_content radio_7">
              
              <div class="im">
                <img src="../../static/Images/g_learning.png" alt="">
               
              </div>
            </div>
            <div class="radio_content radio_8">
              
              <div class="im">
                <img src="../../static/Images/h_learning.png" alt="">
        
              </div>
            </div>
            <div class="radio_content radio_9">
              
              <div class="im">
                <img src="../../static/Images/i_learning.png" alt="">
                
              </div>
            </div>
            <div class="radio_content radio_10">
              
              <div class="im">
                <img src="../../static/Images/j_learning.png" alt="">
              </div>
            </div>
            <div class="radio_content radio_11">
              
              <div class="im">
                <img src="../../static/Images/k_learning.png" alt="">
             
              </div>
            </div>
            <div class="radio_content radio_12">
              
              <div class="im">
                <img src="../../static/Images/l_learning.png" alt="">
             
              </div>
            </div>
            <div class="radio_content radio_13">
              
              <div class="im">
                <img src="../../static/Images/m_learning.png" alt="">
          
              </div>
            </div>
            <div class="radio_content radio_14">
              
              <div class="im">
                <img src="../../static/Images/n_learning.png" alt="">
                
              </div>
            </div>
            <div class="radio_content radio_15">
              
              <div class="im">
                <img src="../../static/Images/o_learning.png" alt="">
             
              </div>
            </div>
            <div class="radio_content radio_16">
              
              <div class="im">
                <img src="../../static/Images/p_learning.png" alt="">
              
              </div>
            </div>
            <div class="radio_content radio_17">
              
              <div class="im">
                <img src="../../static/Images/q_learning.png" alt="">
               
              </div>
            </div>
            <div class="radio_content radio_18">
              
              <div class="im">
                <img src="../../static/Images/r_learning.png" alt="">
              
              </div>
            </div>
            <div class="radio_content radio_19">
              
              <div class="im">
                <img src="../../static/Images/s_learning.png" alt="">
               
              </div>
            </div>
            <div class="radio_content radio_20">
              
              <div class="im">
                <img src="../../static/Images/t_learning.png" alt="">
            
              </div>
            </div>
            <div class="radio_content radio_21">
              
              <div class="im">
                <img src="../../static/Images/u_learning.png" alt="">
                
              </div>
            </div>
            <div class="radio_content radio_22">
              
              <div class="im">
              
                <img src="../../static/Images/v_learning.png" alt="">
              </div>
            </div>
            <div class="radio_content radio_23">
              
              <div class="im">
              
                <img src="../../static/Images/w_learning.png" alt="">
              </div>
            </div>
            <div class="radio_content radio_24">
              
              <div class="im">
               
                <img src="../../static/Images/x_learning.png" alt="">
              </div>
            </div>
            <div class="radio_content radio_25">
              
              <div class="im">
                <img src="../../static/Images/y_learning.png" alt="">
                
              </div>
            </div>
            <div class="radio_content radio_26">
              
              <div class="im">
                <img src="../../static/Images/z_learning.png" alt="">
            
              </div>
            </div>
            <div class="radio_content radio_27">
              <div class="im">
            
               <img src="../../static/Images/zero_learning.png" alt="">
 
              </div>
             </div>
             <div class="radio_content radio_28">
              <div class="im">
              
               <img src="../../static/Images/one_learning.png" alt="">
 
              </div>
             </div>
             <div class="radio_content radio_29">
              <div class="im">
             
               <img src="../../static/Images/two_learning.png" alt="">
 
              </div>
             </div>
             <div class="radio_content radio_30">
              <div class="im">
              
               <img src="../../static/Images/three_learning.png" alt="">
 
              </div>
             </div>
             <div class="radio_content radio_31">
              <div class="im">
             
               <img src="../../static/Images/four_learning.png" alt="">
 
              </div>
             </div>
             <div class="radio_content radio_32">
              <div class="im">
              
               <img src="../../static/Images/five_learning.png" alt="">
 
              </div>
             </div>
             <div class="radio_content radio_33">
              <div class="im">
              
               <img src="../../static/Images/six_learning.png" alt="">
 
              </div>
             </div>
             <div class="radio_content radio_34">
              <div class="im">
              
               <img src="../../static/Images/seven_learning.png" alt="">
 
              </div>
             </div>
             <div class="radio_content radio_35">
              <div class="im">
              
               <img src="../../static/Images/eight_learning.png" alt="">
 
              </div>
             </div>
             <div class="radio_content radio_36">
              <div class="im">
              
               <img src="../../static/Images/nine_learning.png" alt="">
 
              </div>
             </div>
             <div class="volume">
              <button type="button" class="btn  btn-sm "><img id="so" src="sound.jpg" alt=""></button>
            </div>
           </div>
          

       </div>
   </div>
   <script>
		$(document).ready(function(){
			/* by default hide all radio_content div elements except first element */
			$(".rights .radio_content").hide();
			// $(".rights .radio_content:first-child").show();

			/* when any radio element is clicked, Get the attribute value of that clicked radio element and show the radio_content div element which matches the attribute value and hide the remaining tab content div elements */
			$(".bt").click(function(){
			  var current_raido = $(this).attr("data-radio");
			  $(".rights .radio_content").hide();
			  $("."+current_raido).show();
			})
		});
	</script>
   <script>
		$(document).ready(function(){
			/* by default hide all radio_content div elements except first element */
			$(".pruthvi .radio_content").hide();
			$(".pruthvi .radio_content:first-child").show();

			/* when any radio element is clicked, Get the attribute value of that clicked radio element and show the radio_content div element which matches the attribute value and hide the remaining tab content div elements */
			$(".b").click(function(){
			  var current_raido = $(this).attr("data-radio");
			  $(".pruthvi .radio_content").hide();
			  $("."+current_raido).show();
			})
		});
	</script>
   <script>
		$(document).ready(function(){
			/* by default hide all radio_content div elements except first element */
			$(".lol .radio_content").hide();
			// $(".rights .radio_content:first-child").show();

			/* when any radio element is clicked, Get the attribute value of that clicked radio element and show the radio_content div element which matches the attribute value and hide the remaining tab content div elements */
			$(".b").click(function(){
			  var current_raido = $(this).attr("data-radio");
			  $(".lol .radio_content").hide();
			  $("."+current_raido).show();
			})
		});
	</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>