<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/CSS/quizmain.css">
    <title>Quiz Main</title>
</head>
<body>
    <div class="main">
        <h1>Select the Section for the Quiz</h1>
        <div class="section1">
            <h2>Section 1</h2>
        </div>
        <div class="section2">
            <h2>Section 2</h2>
        </div>
        <div class="section3">
            <h2>Section 3</h2>
        </div>
    </div>
   <script src="../../static/JS/quiz.js"></script>
</body>
</html>