<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="virtual.css">
    <title></title>
</head>

<body>
    <div class="cont">
        <div class="content">
            <div id="kl" class="box1"> 
                <img src="5975182_building_clinic_corona_coronavirus_hospital_icon.png" alt="">
               
                <div class="text">Hospital</div>
            </div>
            <div class="box2">
                 <img src="Bank.png" alt="">
                 <div class="text">Bank</div>
            </div>
            <div class="box3"> 
                <img id="s" src="school1.png" alt="">
                <div class="text">School</div>
            </div>
           


        </div>
        <div class="content">
            <div class="box4"> 
                <img src="rest.png" alt="">
                <div class="text">Restaurant</div>
            </div>
            <div class="box5">
                 <img src="store.png" alt="">
                 <div class="text">General store
                </div>
            </div>
            <div class="box6"> 
                <img src="shop.png" alt="">
                <div class="text">Market</div>
            </div>

        </div>
    </div>
    <script src="second.js"></script>
    <script src="virtual.js"></script>
    

</body>

</html>